<!--
File:   index.html
Author: Gabriel 'solstice' Ryan
Email:  gryan@gdssecurity.com
Source: http://github.com/s0lst1c3/sentrygun-server

Description:
	
	This is the main dashboard page for the SentryGun web interface.
    
-->

<!DOCTYPE html>
<html lang='en-US'>

  {% set current_view = 'Dashboard' %}

  <head>
  {% include 'head.html' %}
  </head>

  <body>

    <div data-role="page" id="mainpage">

      {% include 'header.html' %}

      <div data-role="main" class="ui-content">

        <div id='set' data-role="collapsible-set">
			
        </div>

      </div>

    </div>


	<script src='/static/js/sentrygund/event_handlers.js'></script>
	<script src='/static/js/sentrygund/main.js'></script>

  </body>

</html>
